/DemoHibernate/nbproject/private/
/DemoHibernate/build/
/FourStar/nbproject/private/
/FourStar/build/
/MyThreading/nbproject/private/
/MyThreading/build/
/MovieTicketBooking/nbproject/private/
/MovieTicketBooking/build/