<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>P2Control</servlet-name>
        <servlet-class>P2Control</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>P3Control</servlet-name>
        <servlet-class>P3Control</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>P4Control</servlet-name>
        <servlet-class>P4Control</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>P5Control</servlet-name>
        <servlet-class>P5Control</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>P6Control</servlet-name>
        <servlet-class>P6Control</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>P7Control</servlet-name>
        <servlet-class>P7Control</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>P8Control</servlet-name>
        <servlet-class>P8Control</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>P2Control</servlet-name>
        <url-pattern>/P2Control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>P3Control</servlet-name>
        <url-pattern>/P3Control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>P4Control</servlet-name>
        <url-pattern>/P4Control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>P5Control</servlet-name>
        <url-pattern>/P5Control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>P6Control</servlet-name>
        <url-pattern>/P6Control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>P7Control</servlet-name>
        <url-pattern>/P7Control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>P8Control</servlet-name>
        <url-pattern>/P8Control</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
