/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 Mar, 2025, 10:01:09 PM
    Author     : manis
*/

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}

/* variables */
:root{
    --contaier-color:#1a1e21;
    --second-color: #fd8f44;
    --text-color: #172317;
    --bg-color: #fff;
}
::selection{
    color: var(--bg-color);
    background: var(--second-color);
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    width: 100%;
}
section{
    padding: 3rem 0 2rem;
}
.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: palegreen;
    padding: 20px;
}
.navbar ul{
    display: flex;
    gap: none;
}
.navbar ul li{
    list-style: none;
}